<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/wxpay/css/treesSuccess.css">
    <title>认种中心</title>
    <div th:replace="shared/layout_header"></div>
</head>
<body>
<header>
    <div class="whact-img">
        <img style="border-radius: 50%;" th:src="${model.getAvatar()}" alt="">
    </div>
    <div class="whact-name">
        <p th:text="${model.getNickname()}">深情楠楠</p>
    </div>
</header>
<div class="center">
    <div class="tree">
        <img style="margin-left: 1.6rem;width: 60%;" src="https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/shu.png"
             alt="">
    </div>
    <div class="tree-number">
        <div class="tree-my">
            <p th:text="${model.getRank()}">0</p>
        </div>
    </div>
    <div class="content-title">
        <p style="text-shadow:2px 2px 2px #a31b1f ">我为主席家乡种棵红杜鹃</p>
    </div>
    <div style="display: flex;">
        <div class="cert">
            <a href="/wxpay/cert/index">我的证书</a>
        </div>
        <div class="cert">
            <p id="personal" style="z-index: 9999;">个人明细</p>
        </div>
    </div>
</div>

<div class="popup">
    <div class="detail">
        <span style="width: 30%;">付款时间</span>
        <span style="width: 26%;">订单金额</span>
        <span style="width: 26%;text-align: right;">认种棵数</span>
    </div>

    <div id="orderContent">

    </div>

    <div style="margin: .3rem 0;visibility: hidden;" id="navigation">
        <ul>
            <li>
                <div style="width:50%;margin-left: 9%;" id="prev">
                    <img src="/wxpay/img/zzz.png" alt="">
                </div>
            </li>
            <li id="pageNum">1</li>
            <li>
                <div style="width:50%;margin-left: 43%;" id="next">
                    <img src="/wxpay/img/you.png" alt="">
                </div>
            </li>
        </ul>
    </div>
    <div class="down">
        <img src="/wxpay/img/gbi.png" alt="">
    </div>
</div>
<div id='guide'></div>
<footer class="footer">
    <p style="font-size: .4rem;">小黑物联科技提供技术支持</p>
</footer>
</body>
</html>

<template th:replace="shared/layout_scripts"></template>
<script>
    let guide = document.getElementById('guide');
    $('#personal').on('click', function () {
        $('.popup').fadeIn(500);
        $('#guide').fadeIn(500);
        stopBodyScroll(guide)
    })
    $('#guide').on('click', function () {
        $('.popup').fadeOut(500);
        $('#guide').fadeOut(500);
        stopBodyScroll()
    })
    $('.down').on('click', function () {
        $('.popup').fadeOut(500);
        $('#guide').fadeOut(500);
        stopBodyScroll()
    })
    //   guide.onclick=function(){
    //     popup.style.display='none';
    //     guide.style.display='none';
    //     stopBodyScroll();
    //   }
    //    down.onclick=function(){
    //     popup.style.display='none';
    //     guide.style.display='none';
    //     stopBodyScroll();
    //   }

    function toDateString(time) {
        var d = new Date(time),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-');
    }


    function loadPage(page, size) {
        $.ajax({
            url: `/order/list?page=${page}&size=${size}`,
            method: "GET",
            success: function (res) {
                if (res.code) {
                    $("#orderContent").empty();

                    for (data of res.data) {
                        let payTime = toDateString(data.payTime);
                        const html = `<div class="detail" style="padding-top: .46rem;padding-bottom: .3rem;">
                                        <span style="width: 30%;">${payTime}</span>
                                        <span style="width: 24%;">${data.amount}</span>
                                        <span style="width: 21%;text-align: center;">${data.quantity}</span>
                                    </div>`;

                        $("#orderContent").append(html);
                    }
                    totalPage = Math.ceil(res.total / size);

                    if (totalPage > 1) {
                        $("#navigation").css({
                            visibility: "visible"
                        });
                    }
                } else {
                    layer.alert(res.msg, {icon: 2});
                }
            },
            done: function (response) {
            }
        });
    }

    let totalPage = 0;
    let page = 1;
    let size = 5;

    $(function () {

        loadPage(page, size);

        $("#prev").click(function () {
            page--;
            if (page === 0) {
                page = 1;
                layer.msg('没有上一页了', {icon: 0});
                return;
            }

            $("#pageNum").text(page);
            loadPage(page, size);
        });

        $("#next").click(function () {
            page++;
            if (page > totalPage) {
                page = totalPage;

                layer.msg('没有下一页了', {icon: 0});
                return;
            }

            $("#pageNum").text(page);
            loadPage(page, size);
        });
    })
</script>
