<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
   <title>无权限访问该页面</title>
   <div th:replace="shared/layui_header"></div>
</head>
<body>


<div class="layui-fluid">
   <div class="layadmin-tips">
      <i class="layui-icon" face>&#xe664;</i>
      <div class="layui-text" style="font-size: 20px;">
         无权限访问该页面，请联系管理员
      </div>
      <!--      <div class="" style="font-size: 20px;">-->
      <!--         <a href="/">点击返回首页</a>-->
      <!--      </div>-->
   </div>
</div>

</body>
</html>