<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Error page</title>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card-body">
        <table class="layui-table">
            <tbody>
            <tr>
                <td>url: <span th:text="${url}"></span></td>
            </tr>
            <tr>
                <td>exception: <span th:text="${ex.getMessage()}"></span></td>
            </tr>
            <tr>
                <td>detail: <span th:text="${ex}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>