<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/wxpay/css/cate.css">
    <title>荣誉证书</title>
    <div th:replace="shared/layout_header"></div>
</head>
<body>
    <div>
        <div class="center" >
            <div class="center-title">
                <p style="font-size: .34rem" th:text="${nickname}">深情楠楠</p>
            </div>
            <div class="centern-num">
                <p >感谢您为湖南省慈善总会韶山红杜鹃公益基金捐种<span style="color: red; font-size: .32rem;" th:text="${orderCount}+'颗'">0颗</span>红杜鹃,共同参与红色文化传播,
                    为红色基因代代传承做出贡献。</p>
            </div>
        </div>
    </div>
</body>
</html>

<template th:replace="shared/layout_scripts"></template>
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script>
    $(function () {
        // 获取当前链接地址，不带参数部分
        const currentUrl = location.origin + location.pathname;

        // 微信js初始化完成回调
        wx.ready(function () {
            wx.updateTimelineShareData({
                title: '种植红杜鹃', // 分享标题
                link: currentUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                // imgUrl: '/img/shu.png', // 分享图标
                success: function () {
                    // 设置成功
                }
            });

            wx.updateAppMessageShareData({
                title: '种植红杜鹃', // 分享标题
                desc: '为主席家乡种植红杜鹃', // 分享描述
                link: currentUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                // imgUrl: '/img/shu.png', // 分享图标
                success: function () {
                    // 设置成功
                }
            });
        });

        wx.error(function (res) {
            layer.msg("微信分享接口初始化失败");
        });

        const params = {};
        // 授权验证js api
        $.ajax({
            type: "post",
            dataType: 'json',
            url: "/wxpay/jspai/getConfig",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(params),
            error: function (res) {
                closeLoad();
            },
            success: function (res) {
                closeLoad();

                if (res.code) {
                    wx.config(Object.assign({
                        debug: false,
                        jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData'],
                    }, res.data));
                } else {
                    layer.alert(res.msg, {icon: 2});
                }
            }
        });
    })
</script>