@font-face {
    font-family: REGULAR;
    src: url('https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/SOURCEHANSANSSC-REGULAR.OTF')
}

html {
    height: 100%;
}

body,
div,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    background: url('https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/bg2.png') no-repeat;
    background-size: 100% 100%;
    background-color: rgb(229, 42, 47);
}

.center {
    background: url(https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/zhengshu.png) no-repeat;
    background-size: 100% 100%;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    font-weight: 700;
    height: 14rem;
    color: #333333;
}

.center-title {
    padding: 6.8rem 0 0 1.5rem;
    font-size: .18rem;
    font-family: REGULAR;
    font-size: .18rem;
}

.centern-num {
    font-size: .12rem;
    width: 73%;
    margin: .3rem auto;
}

.share-btn {
    height: 1rem;
    width: 60%;
    margin: 0 auto;
    line-height: 1rem;
    text-align: center;
    background-color: rgb(250, 58, 58);
    border-radius: 20px;
    font-size: .4rem;
    margin-top: 1rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: .06rem;
}

#guide {
    position: fixed;
    left: 0;
    top: 0;
    opacity: .8;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 998;
    display: none;
}

#weix {
    float: right;
    margin-right: 4%;
    width: 40%;
    display: none;
}

.centern-num p {
    text-indent: 30px;
    letter-spacing: .01rem;
    font-size: .32rem;
    font-weight: 500;
}