@font-face {
    font-family: REGULAR;
    src: url(https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/SOURCEHANSANSSC-REGULAR.OTF)
}
a{
    text-decoration:none; 
}
body,div,p{
    padding: 0;
    margin: 0;
    font-size: .16rem;
    color: #ffdda4;
    font-family: REGULAR;
}
p{
    letter-spacing: .03rem;
}
img{
    width: 100%;
    display: block;
}
.details{
    background: url(https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/bgt.png) no-repeat;
    background-size: 100% 100%;
    height: 48rem;
}
.details .details-title{
    width: 60%; 
    margin: 0 auto; 
    padding-top: 2rem;
}
.personal .personal-text{
    margin:.75rem 0 0 1.5rem;
}
.personal-text p:nth-child(1){
    font-size:.36rem;
}
.personal-text .personal-box{
    height: 1px; 
    width: 80px; 
    background-color: #ffdda4; 
    margin: .06rem 0;
}
.inherited-text{
    width: 78%;
    margin: 0 auto;
    margin-top: .5rem;
    font-size: .34rem;
}

/* .center-box {
   margin-top: .4rem;
} */
 .personal-title{
   width: 76%;
   margin: 0 auto;
   padding-top: 2rem;
}
.levitate{
    /* display: flex; */
    text-align: center;
    width: 100%;
    border: 2px solid #fdcea4;
    color: #fdcea2;
    font-weight: 700;
    padding: 10px 0;
    display: inline-block;
    background-color: #c51110;
}
.box-6{
    position: fixed;
    bottom: 0;
    left: 0;
}

.box-3{
    display: inline-block;
    width: 46%;
    font-size: .6rem;
}
.box-4{
    width: 50%;
    border-left: 2px solid #fdcea4;
    display: inline-block;
    font-size: .6rem;
    /* display: none; */
}
.footer{
    text-align: center;
    font-size: .4rem;
    color: #333333;
    padding: .56rem 0;
    background-color: #ba1418;
}
/* .popup {
    width: 6rem;
    height: 4rem;
    background-color: red;
    position: fixed;
    top: 50%;
    left: 20%;
    display: none   ;
}

.popup .popup-title {
    padding: .6rem;
}

.popup .popup-title>p {
    font-size: .40rem;
    text-align: center;
    color: #fff;
}

.popup .select {
    font-size: .40rem;
    text-align: center;
    color: #fff;
}

.popup .confirm-box {
    display: flex;
    margin-top: .6rem;
    justify-content: center;
}

.confirm-box .whether {
    width: 38%;
    text-align: center;
    background-color: #fff;
}

.inputNum {
    vertical-align: middle;
    height: 22px;
    border: 1px solid #d0d0d0;
    text-align: center;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    background: #f0f0f0 no-repeat center;
    border: 1px solid #d0d0d0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    box-shadow: 0 1px rgba(100, 100, 100, .1);
    color: #666;
    transition: color .2s, background-color .2s;
}

.btn:active {
    box-shadow: inset 0 1px rgba(100, 100, 100, .1);
}

.btn:hover {
    background-color: #e9e9e9;
    color: #333;
}

.btn_plus {
    background-image: linear-gradient(to top, currentColor, currentColor), linear-gradient(to top, currentColor, currentColor);
    background-size: 10px 2px, 2px 10px;
}

.btn_minus {
    background-image: linear-gradient(to top, currentColor, currentColor);
    background-size: 10px 2px;
}    */