
a{
    text-decoration:none;
}
body,div,p{
    padding: 0;
    margin: 0;
    color: #ffdda4;
    /* font-family: REGULAR; */
}
p{
    letter-spacing: .03rem;
}
img{
    width: 100%;
    display: block;
}
.details{
    background: url(https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/bgt.png) no-repeat;
    background-size: 100% 100%;
    height: 48rem;
}
.details .details-title{
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
}
.personal .personal-text{
    margin:.75rem 0 0 1.5rem;
}
.personal-text p:nth-child(1){
    font-size:.36rem;
}
.personal-text .personal-box{
    height: 1px;
    width: 80px;
    background-color: #ffdda4;
    margin: .06rem 0;
}
.inherited-text{
    width: 78%;
    margin: 0 auto;
    margin-top: .5rem;
    font-size: .34rem;
}

/* .center-box {
   margin-top: .4rem;
} */
.personal-title{
    width: 76%;
    margin: 0 auto;
    padding-top: 2rem;
}
.levitate{
    display: flex;
    text-align: center;
    color: #fdcea2;
    font-weight: 700;
    background-color: #c51110;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.box-6{
    position: fixed;
    bottom: 0;
    left: 0;
}

.levitate .levitate-types{
    width: 49%;
    border-left: 2px solid #fdcea4;
    border-top:  2px solid #fdcea4;
    font-size: .6rem;
}
#enterprise{
    border-right:  2px solid #fdcea4;
}
#reptive{
    border-bottom:  2px solid #fdcea4;
}
#family{
    border-bottom:  2px solid #fdcea4;
    border-right:  2px solid #fdcea4;
}
.levitate-types p{
    padding: .1rem 0;
}
.footer{
    text-align: center;
    font-size: .4rem;
    color: #fdcea2;
    padding: .6rem 0;
    /* background-color: #ba1418; */
}
.popup {
    width: 8rem;
    background: url(/wxpay/img/bg3.png) no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 32%;
    left: 10%;
    border-radius: 10px;
    display: none;
    z-index: 9999;
    height: 7rem;
}
.popup .popup-title {
    padding: .6rem;
    font-weight: 400;
}

.popup .popup-title>p {
    font-size: .73rem;
    text-align: center;
    color: #fff;
}
.popup-box{
    display: flex;
    justify-content:center;
    margin-bottom: .4rem;
}
.popup-box .popup-num{
    width: 32%;
}
.popup-num p{
    font-size: .57rem;
    text-align: right;
    color: #fff;
}
.popup-box .input-group{
    width: 67%;
    font-size: .40rem;
    text-align: center;
    color: #fff;
}
.popup .down{
    width: .6rem;
    height: .6rem;
    line-height: .6rem;
    position: absolute;
    top: .08rem;
    right: .08rem;
    font-size: .16rem;
    text-align: center;
    border-radius: 50%;
}

.popup .confirm-box {
    display: flex;
    margin-top: .6rem;
    justify-content: center;
}

.confirm-box .whether {
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.inputNum {
    vertical-align: middle;
    height: 30px;
    border: 1px solid #d0d0d0;
    text-align: center;
    width: 3.75rem;
    border-radius: 20px;
    border-style: none;
    background-color: rgb(197, 17, 16);
    border: 1px solid #fff;
    color: #fff;
}

.btn {

    display: inline-block;
    vertical-align: middle;
    background: #f0f0f0 no-repeat center;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    color: red;
    background-color: #fff;
}


.btn_plus {
    background-image: linear-gradient(to top, currentColor, currentColor), linear-gradient(to top, currentColor, currentColor);
    background-size: 10px 2px, 2px 10px;
    position: relative;
    top: 0;
    right: .68rem;
    border-radius: 50%;
}

.btn_minus {
    background-image: linear-gradient(to top, currentColor, currentColor);
    background-size: 10px 2px;
    position: relative;
    top: 0;
    left: .68rem;
    border-radius: 50%;
}
input:-moz-placeholder { color: #e75857;font-size: .30rem; }
::-webkit-input-placeholder { color:#e75857;font-size: .30rem; }
#guide {
    position: fixed;
    left: 0;
    top: 0;
    opacity: .6;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    display: none;
}
.name_cmd{
    position: fixed;
    top: 60%;
    right: 0;
    width: .8rem;
    background-color: #c51110;
    font-size: .6rem;
    border: 2px solid #ffdda4;
    text-align: center;
    height: 2.7rem;
}