@font-face {
    font-family: REGULAR;
    src: url(https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/SOURCEHANSANSSC-REGULAR.OTF)
}
a{
    text-decoration:none; 
}
body,div,p{
    padding: 0;
    margin: 0;
    font-size: .16rem;
    color: #ffdda4;
    font-family: REGULAR;
}
p{
    letter-spacing: .03rem;
}
img{
    width: 100%;
    display: block;
}
.details{
    background: url(https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/img2.jpg) no-repeat;
    background-size: 100% 100%;
    height: 28rem;
}
.details .details-title{
    width: 60%; 
    margin: 0 auto; 
    padding-top: 2rem;
}
.personal .personal-text{
    margin:.75rem 0 0 1.5rem;
}
.personal-text p:nth-child(1){
    font-size:.36rem;
}
.personal-text .personal-box{
    height: 1px; 
    width: 80px; 
    background-color: #ffdda4; 
    margin: .06rem 0;
}
personal-box p{
    font-size: .24rem;
}
.inherited-text{
    width: 78%;
    margin: 0 auto;
    margin-top: .5rem;
    font-size: .34rem;
}

/* .center-box {
   margin-top: .4rem;
} */
.personal .personal-title{
   width: 86%;
   margin: .2rem auto;
}
.levitate{
    /* display: flex; */
    text-align: center;
    width: 100%;
    border: 2px solid #fdcea4;
    color: #fdcea2;
    font-weight: 700;
    padding: 10px 0;
    display: inline-block;
    background-color: #c51110;
}
.box-6{
    position: fixed;
    bottom: 0;
    left: 0;
}

.box-3{
    display: inline-block;
    width: 46%;
    font-size: .6rem;
}
.box-4{
    width: 50%;
    border-left: 2px solid #fdcea4;
    display: inline-block;
    font-size: .6rem;
    /* display: none; */
}
.footer{
    text-align: center;
    font-size: .4rem;
    color: #333333;
    padding: .56rem 0;
    background-color: #ba1418;
}