@font-face {
    font-family: LIG;
    src: url('https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/DINPro-Light.otf');
}

body,
div,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    /* url('https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/renzhongsucess.png') */
    background: url('https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/renzhongsucess.png') no-repeat;
    /* height: 100vh; */
    background-size: 100%;
    background-color: #e52a2f;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
}

.whact-img {
    width: 16%;
    border: 2px solid red;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 1rem;
}

.whact-name {
    width: 50%;
    margin: 0 auto;
    padding: 0.05rem 0.2rem;
    text-align: center;
    border-radius: 12px;
    color: red;
    margin-top: 0.26rem;
    font-size: 0.38rem;
    letter-spacing: 0.05rem;
}

.center {
    text-align: center;
}

.leave {
    width: 15vw;
    background-color: #333;
    opacity: 0;
    height: 6vh;
    position: absolute;
    right: 1rem;
    bottom: 8.4rem;
}

.tree {
    width: 100vw;
    margin-top: 1.6rem;
}

.tree-number {
    width: 100vw;
    margin-top: 0.36rem;
}

.tree-number .tree-my {
    width: 40%;
    background: url('https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/numberBg.png');
    background-size: 100%;
    margin: 0 auto;
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 0.38rem;
    letter-spacing: 0.03rem;
}

.content-title {
    font-size: 0.36rem;
    /* margin-top: .3rem; */
    color: #fff;
    letter-spacing: 0.03rem;
}

.cert {
    width: 2.6rem;
    height: 0.8rem;
    background-color: red;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.4rem;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 0.6rem;
    letter-spacing: 0.03rem;
}

.footer {
    text-align: center;
    font-size: 0.24rem;
    padding: 0.8rem 0;
    color: #842407;
}

.popup {
    width: 7rem;
    background-color: rgb(197, 17, 16);
    border-radius: 10px;
    position: fixed;
    top: 33%;
    left: 14%;
    display: none;
    z-index: 9999;
    color: #fff;
}

.popup .text-box {
    position: relative;
}

.text-box .wishContent {
    background-color: #d22726;
    /*margin: 1vw 8vw 0 6vw;*/
    border-radius: 10px;
    border: 0px solid;
    color: #fff;
    font-size: 18px;
    width: 100%;
}

textarea::placeholder {
    color: #fff;
}

.text-box .wordsNum {
    font-size: 0.28rem;
    position: absolute;
    bottom: 0.4rem;
    right: 0.7rem;
}

.popup .popup-title {
    padding: 0.6rem;
    font-weight: 400;
}

.popup .popup-title > p {
    font-size: 0.73rem;
    text-align: center;
    color: #fff;
}

.popup .detail {
    font-size: 0.34rem;
    font-family: LIG;
    height: 0.7rem;
    border-bottom: 1px solid #ccc;
    line-height: 0.7rem;
    padding-top: 0.76rem;
    display: flex;
    justify-content: space-between;
    margin: 0.1rem 0.4rem;
}

.popup .down {
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    position: absolute;
    top: 0.08rem;
    right: 0.08rem;
    font-size: 0.16rem;
    text-align: center;
    border-radius: 50%;
    opacity: 0.8;
}

.popup .confirm-box {
    display: flex;
    margin-top: 0.6rem;
    justify-content: center;
}

.confirm-box .whether {
    width: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

ul {
    margin: 0 2rem;
    display: flex;
    border: 1px solid #fff;
    border-radius: 20px;
}

ul li {
    flex: 1;
    padding: 0.04rem 0;
    text-align: center;
    list-style-type: none;
    font-size: 0.16rem;
}

ul li a {
    text-decoration: none;
    background-color: #fff;
    font-size: 1px;
    border-radius: 50%;
    padding: 0 0.1rem;
    color: red;
}

ul li a.active {
    background-color: #eee;
    color: black;
    border: 1px solid #ddd;
}

#guide {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
    display: none;
}

.ryu {
    width: 2rem;
    background-color: red;
    margin: 0.1rem auto;
    font-size: 0.16rem;
    border-radius: 10px;
    color: #fff;
}
