body,
div,
p {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/renzhongsucess.png') no-repeat;
    height: 100vh;
    background-size: 100%;
    background-color: #e52a2f;
}

img {
    width: 100%;
    display: block;
}
a{
    text-decoration:none;
    color: #fff;
}
.whact-img {
    width: 16%;
    border: 2px solid red;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 1rem;
}

.whact-name {
    width: 20%;
    margin: 0 auto;
    padding: .05rem .2rem;
    text-align: center;
    border-radius: 12px;
    color: #fff;
    margin-top: .26rem;
    font-size: .38rem;
    letter-spacing: .05rem;
    background-image: linear-gradient(to right, #fc474d, #d02425 );
}

.center {
    text-align: center;
}

.tree {
    width: 100vw;
    margin-top: 4rem;
}

.tree-number {
    width: 100vw;
    margin-top: .36rem;
}

.tree-number .tree-my {
    width: 40%;
    background: url('../img/numberBg.png');
    background-size: 100%;
    margin: 0 auto;
    /* text-align: center; */
    height: 40px;
    color: #fff;
    line-height: 40px;
    font-size: .38rem;
    letter-spacing: .03rem;
}

.content-title {
    font-size: .36rem;
    margin-top: .3rem;
    color: #fff;
    letter-spacing: .03rem;
}
.cert{
    width:2.6rem;
    height: 0.8rem;
    background-color: red;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    line-height: 0.8rem;
    font-size:.4rem;
    color: #fff;
    border:1px solid #fff;
    margin-top: .6rem;
    letter-spacing: .03rem;
}
.footer {
    text-align: center;
    font-size: .24rem;
    padding: 1rem 0;
    color: #842407;

}
