<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/index.css">
    <title>杜鹃花</title>
    <div th:replace="shared/layout_header"></div>
</head>
<body>
<header>
    <img src="/img/img1.gif" alt="">
</header>
<div class="details">
    <div class="details-title">
        <img src="/img/maofen.png" alt="">
    </div>
    <div class="personal">
        <div class="personal-text">
            <p>有人把他当救星</p>
            <div class="personal-box"></div>
            <p>因为他带领中国人民走向光明;</p>
        </div>
        <div class="personal-text" style="margin-top:.45rem">
            <p>有人把他当偶像</p>
            <div class="personal-box"></div>
            <p>因为他数次力挽狂澜创立宏图伟业;</p>
        </div>
        <div class="personal-text" style="margin-top:.45rem">
            <p>有人把他当导师</p>
            <div class="personal-box"></div>
            <p>因为他辍笔耕耘累计几千万的鸿篇巨著。</p>
        </div>
        <div class="personal-title">
            <img src="/img/timg.gif" alt="">
        </div>
        <div style="text-align: center; ">
            <p style="margin: .2rem 0; font-size: .4rem;">他,就是我们伟大的领袖毛主席</p>
            <p style="font-size: .4rem;">感恩伟人,缅怀伟人,我为主席献花</p>
        </div>
    </div>
    <div class="details-title" style="padding-top:1.2rem">
        <img src="/img/huodong.png" alt="">
    </div>
    <div class="inherited-text">
        <p style="font-size: .34rem;text-indent:38px;">
            为了认真贯彻习总书记“把红色基因传承好”的重要讲话精神，积极响应韶山市委、市政府提出的“把韶山打造成中国红色文化旅游融合发展示范区”的号召，韶山市红色研究会联合社会各界，发起“我为毛主席家乡种棵红杜鹃”红色公益活动倡议，让红色绽放起来，为中华民族的伟大复兴注入强大的精神动力。</p>
    </div>
    <div class="details-title" style="padding-top:1.2rem">
        <img src="/img/guiz.png" alt="">
    </div>
    <div class="inherited-text">
        <p style="font-size: .34rem;">1.个人捐种1棵起，100元/棵;</p>
        <p style="font-size: .34rem;">2.认种100棵（含）以上者，栽种红杜鹃树，并进入个人红杜鹃园区。</p>
    </div>
</div>
<div class="levitate box-6">

    <div th:switch="${showMyTree}">
        <div th:case="true">
            <div class="box-3">
                <p style="font-size: .6rem;" class="confirmOrder">继续认种</p>
            </div>
            <div class="box-4">
                <a href='/product/index'>
                    <p style="font-size: .6rem;" id="myOrder">我的认种</p>
                </a>
            </div>
        </div>
            
        <div th:case="false">
            <div class="box-3">
                <p style="font-size: .6rem;" class="confirmOrder">我要认种</p>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <p style="color: #333;font-size: .4rem;">小黑物联科技提供技术支持</p>
</footer>
</body>

</html>
<div th:replace="shared/layout_scripts"></div>
<script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script>
    //节流阀
    const throttle = (fun, delay) => {
        let last, deferTimer
        return function (args) {
            let _args = arguments
            let now = +new Date()
            if (last && now < last + delay) {
                clearTimeout(deferTimer)
                deferTimer = setTimeout(function () {
                    last = now
                    fun.apply(this, _args)
                }, delay)
            } else {
                last = now
                fun.apply(this, _args)
            }
        }
    }
    //iphoneX 底部偏差
    const isIphonex = () => {
        if (typeof window !== 'undefined' && window) {
            return /iphone/gi.test(window.navigator.userAgent) && window.screen.height >= 812;
        }
        return false;
    };

    const onTop = e => {
        let div = document.querySelector('.levitate');
        const osTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        if (isIphonex()) {
            osTop > 620 ? div.classList.remove('box-6') : div.classList.add('box-6');
        } else {
            osTop > 720 ? div.classList.remove('box-6') : div.classList.add('box-6');
        }

    }
    let throttleScroll = throttle(onTop, 500)
    window.addEventListener("scroll", throttleScroll);

    $(function () {
        showLoad();

        // 获取当前链接地址，不带参数部分
        const currentUrl = location.origin + location.pathname;

        // 微信js初始化完成回调
        wx.ready(function () {
            wx.updateTimelineShareData({
                title: '种植红杜鹃', // 分享标题
                link: currentUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                // imgUrl: '/img/shu.png', // 分享图标
                success: function () {
                    // 设置成功
                }
            });

            wx.updateAppMessageShareData({
                title: '种植红杜鹃', // 分享标题
                desc: '为主席家乡种植红杜鹃', // 分享描述
                link: currentUrl, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                // imgUrl: '/img/shu.png', // 分享图标
                success: function () {
                    // 设置成功
                }
            });
        });

        wx.error(function (res) {
            layer.msg("微信分享接口初始化失败");
        });

        const params = {};
        // 授权验证js api
        $.ajax({
            type: "post",
            dataType: 'json',
            url: "/jspai/getConfig",
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(params),
            error: function (res) {
                closeLoad();
            },
            success: function (res) {
                closeLoad();

                if (res.code) {
                    wx.config({
                        debug: false,
                        jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData'],
                        ...res.data,
                    });
                } else {
                    layer.alert(res.msg, {icon: 2});
                }
            }
        });

        // 下单按钮
        $(".confirmOrder").click(function () {
            var orderData = {
                productCode: "001"
            };

            $.ajax({
                type: "post",
                dataType: 'json',
                url: "/order/create",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(orderData),
                success: function (res) {
                    if (res.code) {
                        // 下单成功跳转支付
                        location.href = "/pay/index";
                    } else {
                        layer.alert(res.msg, {icon: 2});
                    }
                },
                error: function (res) {
                    layer.alert(JSON.stringify(res), {icon: 2});
                    console.log(res);
                }
            });
        });

        // $("#myOrder").click(function () {
        //     location.href = "";
        // });
    })
</script>