<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/index.css(t=${#dates.format(#dates.createNow(), 'YYYYMMdd')})}">
    <title>杜鹃花</title>
    <div th:replace="shared/layout_header"></div>
    <style>

    </style>
</head>

<body>
<header>
    <img src="https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/img1.gif" alt="">
</header>
<div class="details">
    <div class="personal-title">
        <img src="https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/timg.gif" alt="">
    </div>
    <div style="width: 74%; margin: 0 auto;">
        <img src="https://hongdujuan.oss-cn-shenzhen.aliyuncs.com/zhutu.png" alt="">
    </div>
    <div class="levitate">
        <div class="levitate-types" id='personal'>
            <p>个人认种</p>
        </div>
        <div class="levitate-types" id="enterprise">
            <p>企业认种</p>
        </div>
        <div class="levitate-types" id='reptive'>
            <p>代人认种</p>
        </div>
        <div class="levitate-types" id='family'>
            <p>家庭认种</p>
        </div>
    </div>
    <div class="footer">
        <p>小黑物联科技提供技术支持</p>
        <div/>
    </div>


    <div th:switch="${showMyTree}">
        <div th:case="true">
            <div class="name_cmd">
                <a th:href="@{/product}" style="color: #ffdda4;">
                    <p style="height:.6rem">我</p>
                    <p style="height:.6rem">的</p>
                    <p style="height:.6rem">认</p>
                    <p style="height:.6rem">种</p>
                </a>
            </div>
        </div>
    </div>


    <div class="popup">
        <form id="mainForm">
            <div class="popup-title">
                <p id="description">个人认种</p>
            </div>
            <div class="popup-box">
                <div class="popup-num">
                    <p>数量</p>
                </div>
                <div class="input-group">
                    <div class="select">
                        <a id="num-jian" href="javascript:" class="btn btn_minus" role="button" title="减少"></a>
                        <input class="inputNum" type="number" value="1" size="1" id='quantity'>
                        <a id="num-jia" href="javascript:" class="btn btn_plus" role="button" title="增加"></a>
                    </div>
                </div>
            </div>
            <div class="popup-box">
                <div class="popup-num">
                    <p id="namein">姓名</p>
                </div>
                <div class="input-group">
                    <div class="select" style="text-align: center;">
                        <input class="inputNum" value="" size="1" id="placename" placeholder="请输入姓名">
                    </div>
                </div>
            </div>
            <div class="popup-box" id="input-phone">
                <div class="popup-num">
                    <p>电话</p>
                </div>
                <div class="input-group">
                    <div class="select" style="text-align: center;">
                        <input class="inputNum" value="" size="1" id="phone" placeholder="请输入电话" type="text">
                    </div>
                </div>
            </div>

            <div class="confirm-box">
                <div class="whether" id="determine">
                    <p style="color: #333;font-size: .46rem;padding: .2rem 0; font-weight: 700;" id="confirmOrder">
                        确认</p>
                </div>
            </div>
            <div class="down">
                <img th:src="@{/img/gbi.png}" alt="">
            </div>
        </form>
    </div>

    <div id='guide'></div>

</div>

</body>

</html>

<template th:replace="shared/layout_scripts"></template>
<script th:inline="javascript">
    //节流阀
    const throttle = (fun, delay) => {
        let last, deferTimer
        return function (args) {
            let _args = arguments
            let now = +new Date()
            if (last && now < last + delay) {
                clearTimeout(deferTimer)
                deferTimer = setTimeout(function () {
                    last = now
                    fun.apply(this, _args)
                }, delay)
            } else {
                last = now
                fun.apply(this, _args)
            }
        }
    }
    //iphoneX 底部偏差
    const isIphonex = () => {
        if (typeof window !== 'undefined' && window) {
            return /iphone/gi.test(window.navigator.userAgent) && window.screen.height >= 812;
        }
        return false;
    };

    const onTop = e => {
        let div = document.querySelector('.levitate');
        const osTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
        if (isIphonex()) {
            osTop > 620 ? div.classList.remove('box-6') : div.classList.add('box-6');
        } else {
            osTop > 720 ? div.classList.remove('box-6') : div.classList.add('box-6');
        }

    };
    let throttleScroll = throttle(onTop, 500);
    window.addEventListener("scroll", throttleScroll);

    let $quantity = $('#quantity');
    let $description = $('#description');
    $('#num-jia').on('click', function () {
        let quantity = parseInt($quantity.val()) + 1;
        if (quantity > 100) {
            layer.msg("种植数量不能超过100", {icon: 0});
            return;
        }

        $quantity.val(quantity)
    });
    $('#num-jian').on('click', function () {
        let quantity = parseInt($quantity.val()) - 1;
        if (quantity <= 0) {
            return;
        }

        $quantity.val(quantity)
    });

    function libmagic() {
        $('.popup').fadeIn(500);
        $('#guide').fadeIn(500);
        $('#namein').text('姓名');
        $('#placename').attr('placeholder', '请输入姓名');
        $('#input-phone').css({'opacity': '1'})
        // stopBodyScroll(guide)
    }

    $('.down').on('click', function () {
        $('.popup').fadeOut(500);
        $('#guide').fadeOut(500);
        // $quantity.val(1);
        // stopBodyScroll();

        document.getElementById("mainForm").reset();
    });

    $(function () {
        let area = wxpayUtil.getQueryString('area');
        wxpayUtil.trySetArea(area);

        let orderType;

        const userInfo = {
            realName: [[${realName}]] || "",
            phone: [[${phone}]] || ""
        };

        $('#personal').on('click', function () {
            $description.text('个人认种');
            libmagic();

            $("#placename").val(userInfo.realName);
            $("#phone").val(userInfo.phone);

            orderType = 0;
        });
        $('#enterprise').on('click', function () {
            $description.text('企业认种')
            $('.popup').fadeIn(500);
            $('#guide').fadeIn(500);
            $('#namein').text('公司');
            $('#placename').attr('placeholder', '请输入公司名');
            // $('#input-phone').css({'opacity': '0'});
            // stopBodyScroll(guide);

            orderType = 1;
        });
        $('#reptive').on('click', function () {
            $description.text('代人认种');
            libmagic();

            orderType = 2;
        });
        $('#family').on('click', function () {
            $description.text('家庭认种');
            libmagic();

            orderType = 3;
        });

        // 数量验证
        $("#quantity").change(function () {
            let value = parseInt(this.value);

            if (value > 100) {
                layer.msg("种植数量不能超过100", {icon: 0});
                // this.value = 100;
                return false;
            } else if (value < 1) {
                layer.msg("种植数量不能小于1", {icon: 0});
                // this.value = 1;
                return false;
            }
        });

        // 姓名
        $("#placename").change(function () {
            let value = this.value;

            if (!value) {
                layer.msg("请填写姓名/名称", {icon: 0});
                return false;
            }

            if (value.length > 100) {
                layer.msg("姓名/名称长度不要超过100", {icon: 0});
                return false;
            }
        });

        // 手机验证
        $("#phone").change(function () {
            let value = this.value;

            if (!value) {
                layer.msg("请填写电话", {icon: 0});
                return false;
            }
            if (value.length > 15) {
                layer.msg("电话格式不正确", {icon: 0});
                return false;
            }

            // if (orderType !== 1 && !wxpayUtil.isPhone(value)) {
            //     layer.msg("请填写正确格式的手机号码", {icon: 0});
            //     return false;
            // }
        });

        let verify = {
            quantity: function (value) {
                return value >= 1 && value <= 100;
            },
            name: function (value) {
                return value && value.length <= 100;
            },
            phone: function (value) {
                return value && value.length <= 15;
            }
        };

        // 下单按钮
        $("#confirmOrder").click(function () {
            let quantity = $("#quantity").change().val();
            if (!verify.quantity(quantity)) {
                return false;
            }
            let name = $("#placename").change().val();
            if (!verify.name(name)) {
                return false;
            }
            let phone = $("#phone").change().val();
            if (!verify.phone(phone)) {
                return false;
            }

            showLoad();

            const orderData = {
                productCode: "001",
                type: orderType,
                quantity: quantity,
                name: name,
                phone: phone,
                areaCode: area
            };

            $.ajax({
                type: "post",
                dataType: 'json',
                url: [[@{'/order/create'}]],
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(orderData),
                success: function (res) {
                    if (res.code) {
                        // 下单成功跳转支付
                        const payUrl = [[@{'/pay'}]];
                        location.href = `${payUrl}/${res.data}`;
                    } else {
                        layer.alert(res.msg, {icon: 2});
                    }
                },
                error: function (res) {
                    layer.alert(JSON.stringify(res), {icon: 2});
                    console.log(res);
                },
                done: function (res) {
                    closeLoad();
                }
            });
        });
    })
</script>